﻿body .top-bar {
}

    body .top-bar .main-bar {
        width: 80%;
        margin: auto;
        flex-wrap: nowrap;
        display: flex;
        border: 2px solid brown;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            display: flex;
            justify-content: flex-start;
            gap: 40px;
        }

            body .top-bar .main-bar .contact-left .contact {
                border-left: 1px solid #ced4da;
                padding: 0 10px;
                background-image: url(../Icon/call.png);
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left .contact2 {
                border-left: 1px solid #ced4da;
                border-right: 1px solid #ced4da;
                padding: 0 10px;
            }

            body .top-bar .main-bar .contact-left #like {
                background-color: #3a86ff;
                border-color: #3a86ff;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/twitter.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left #follow {
                background-color: #1DA1F2;
                border-color: #1DA1F2;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/check.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left #youtube {
                background-color: #FF0000;
                border-color: #FF0000;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/youtube.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            display: flex;
            justify-content: flex-end;
        }
